<h2>Привет, {{user}}</h2>
<h3>Количество новых тренировок - {{exercises.length}}</h3>

{{#exerciseList exercises}}
  <p>Заголовок: {{title}}, описание: {{description}}, стоимость: {{price}}</p>
{{/exerciseList}}